html {height:100%;}

body {
  font-family: sans-serif;
  overflow: hidden;
  height:100%;
}

header {
	.box-shadow(inset 0 -40px 50px -20px #F1F1F1, 0 4px 10px rgba(223, 223, 223, 0.58));
	padding: 5px 20px;
	border-bottom: 1px solid #DADADA;
	background-image: url(/static/images/noise.png);
	position: relative;
	z-index: 2;

	#logo {
		padding-top: 3px;
		padding-left: 5px;
		text-shadow: 0 1px white;
		height: 47px;

		#logo-title {
			font-size: 25px;
			line-height: 30px;
			font-weight: 300;
			.transition(color .4s linear);
			
			&:hover {
				color: #7CCC05;
			}
		}

		#logo-tagline {
			font-size: 10px;
			line-height: 25px;
			text-transform: uppercase;
			
			position: relative;
			top: -7px;
			left:2px;
			color: #B1B1B1;
		}
	}
}

#sub-header {
	padding: 5px 20px 2px;
	background-image: url(/static/images/noise.png);
	background-color: #EEE;
	border-bottom: 3px solid #7CCC05;
	.box-shadow(0 0 15px rgba(88, 88, 88, 0.43));
	position: relative;
	z-index: 1;
	
	#page-desc {
		font-size: 16px;
		padding: 10px;
		font-weight: lighter;
	}
	
	.btn-toolbar {
		margin:0;
	
		.btn-group {
    		width: 100%;

    		.btn {
    			width: 14%;
    			line-height: 24px;
    			font-size: 12px;
    			text-transform: uppercase; 
    		}
    	}
  	}

  	#btn-desc {
  		
  	}
}

.container-fluid {height:100%; padding:0;}
.row-fluid{height:100%;}

.sidebar {
	height: 100%;
	background-color: lightGrey;
	overflow: auto;
	background-image: url(/static/images/noise.png);
	border-right: 1px solid #A0A0A0;
	
	ul {
		padding: 0px;
		margin:0px;
		list-style: none;
		
		li {
			padding:15px 20px;
			#gradient.vertical(rgba(252, 252, 252, 0.7), rgba(228, 228, 228, 0.86));
			border-top: 1px solid white;
			border-bottom: 1px solid #CECECE;
			
			.action-title {
				text-transform: uppercase;
				font-weight: bold;
			}
			
			.action-desc {
				padding-top: 2px;
			}

			&:hover {
				#gradient.vertical(rgba(218, 236, 217, 0.7), rgba(228, 228, 228, 0.86))
			}
		}
	}
}

.map {
	height: 100%;

	#map_canvas {
		height:100%;
		width:100%;
	}
}

#act-now-footer {
	padding: 5px 20px;
	position: fixed;
	bottom: 0;
	background-color: #99DD08;
	width: 100%;
	border-top: 1px solid #B9FFAB;
	background-image: url(/static/images/noise.png);
	color: white;
	text-shadow: 0 -1px #48A50A;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	.box-shadow(inset 0 -20px 50px rgba(0, 0, 0, 0.18));
	&:hover{
		text-decoration: none;
		background: #99E739;
	}
}

footer {
	padding: 3px 20px;
	position: fixed;
	bottom: 0;
	background-color: #2E2E2E;
	width: 100%;
	border-top: 1px solid #BDBDBD;
	background-image: url(/static/images/noise.png);
	color: #5C5B5B;
	text-shadow: 0 1px black;
}

#welcomeModal {
	top: 66%!important;
}


::-moz-selection { background: #BADA55; color: #fff; text-shadow: none; }
::selection { background: #BADA55; color: #fff; text-shadow: none; } 

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar:horizontal {
  height: 8px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	background: #B9B9B9;
}
