html {height:100%;}

body {
  font-family: sans-serif;
  overflow: hidden;
  height:100%;
}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; } 
