{% extends "base.html" %}

{% block content %}

<div class="wrapper act-top">
    <div class="container">
    <h1>Find solutions to stop global problems.</h1>
    <p>Collectively, humanity has no limits on time, money, or resources. 
    We've created these problems together. There's no reason why we can't solve them together.
    These are the most innovative crowdsolving tools on the planet, all in one place. Make your impact.</p>

    <div class="badge skills">
        <div class="banner">Skills</div>
        <i class="icon-tasks"></i>
    </div>
    <div class="badge crowdfunding">
        <div class="banner">Crowdfunding</div>
        <i class="icon-group"></i>
    </div>
    <div class="badge volunteer">
        <div class="banner">Volunteer</div>
        <i class="icon-heart"></i>
    </div>
    <div class="badge scale">
        <div class="banner">Scale Ideas</div>
        <i class="icon-globe"></i>
    </div>
    <div class="badge grass">
        <div class="banner">Grassroots</div>
        <i class="icon-bullhorn"></i>
    </div>
    <div class="badge donate">
        <div class="banner">Donate</div>
        <i class="icon-gift"></i>
    </div>
    <div class="badge discover">
        <div class="banner">Discover</div>
        <i class="icon-search"></i>
    </div>
    <div class="badge connect">
        <div class="banner">Connect</div>
        <i class="icon-retweet"></i>
    </div>

    </div>
</div>

<div class="wrapper act-bottom">
<div class="container">
   <div class="row">
        
        <div id="skills" class="sect-head span12">
            <i class="icon-tasks"></i> Skills
        </div>
        <div class="resources">
            <div class="span3">
                <a href="http://www.skillshare.com"><img src="static/images/Skillshare.png"></a>
                <p><strong>Skillshare</strong> Learn or teach any skill from anywhere</p>
            </div>
            <div class="span3">
                <a href="http://www.opensourceecology.org"><img src="static/images/Open Source Ecology.png"></a>
                <p><strong>Open Source Ecology</strong> Learn how to build the fifty basic tools to start a civilization from scratch with modern comforts</p>
            </div>
            <div class="span3">
                <a href="http://www.tumbleweedhouses.com"><img src="static/images/Tumbleweed Houses.png"></a>
                <p><strong>Tumbleweed Houses</strong> Learn how to build a simple shelter</p>
            </div>
            <div class="span3">
                <a href="http://www.windowfarms.org"><img src="static/images/Windowfarms.png"></a>
                <p><strong>Windowfarms</strong>Learn how to grow food hydroponically in an urban setting</p>
            </div>
        </div>
        
        <div id="finance" class="sect-head span12">
            <i class="icon-group"></i> Crowdfunding & Microloans
        </div>
        <div class="resources">
            <div class="span4">
                <a href="http://www.kiva.org"><img src="static/images/Kiva.png"></a>
                <p><strong>Kiva</strong> Provide microloans to individuals in impoverished areas</p>
            </div>
            <div class="span4">
                <a href="http://www.indiegogo.com"><img src="static/images/Indiegogo.png"></a>
                <p><strong>Indiegogo</strong> Crowdfund your projects or causes</p>
            </div>
            <div class="span4">
                <a href="http://www.kickstarter.com"><img src="static/images/Kickstarter.png"></a>
                <p><strong>Kickstarter</strong> Fund creative projects</p>
            </div>
        </div>    
            
        <div id="volunteer" class="sect-head span12">
            <i class="icon-heart"></i> Volunteer
        </div>
        <div class="resources">
            <div class="span6">
                <a href="http://www.catchafire.org"><img src="static/images/Catchafire.png"></a>
                <p><strong>Catchafire</strong> Volunteer or recruit volunteers </p>
            </div>
            <div class="span6">
                <a href="http://http://www.greenpeace.org/"><img src="static/images/Greenpeace.png"></a>
                <p><strong>Greenpeace</strong> Take direct action to protect the environment </p>
            </div>
        </div>
            
        <div id="grass" class="sect-head span12">
            <i class="icon-bullhorn"></i> Grassroots
        </div>
        <div class="resources">
            <div class="span6">
                <a href="http://www.dosomething.org"><img src="static/images/Do Something.png"></a>
                <p><strong>Do Something</strong> Take inspired action </p>
            </div>
            <div class="span6">
                <a href="http://http://www.purpose.com/"><img src="static/images/Purpose.png"></a>
                <p><strong>Purpose</strong> Create a 21st century movement </p>
            </div>
        </div>
        
        <div id="scale" class="sect-head span12">
            <i class="icon-globe"></i> Scale Ideas
        </div>
        <div class="resources">
            <div class="span4">
                <a href="http://www.echoinggreen.org"><img src="static/images/Echoing Green.png"></a>
                <p><strong>Echoing Green</strong> Get seed funding for your social entrepreneurial idea</p>
            </div>
            <div class="span4">
                <a href="http://www.thesojo.net"><img src="static/images/SoJo.png"></a>
                <p><strong>The Social Journal</strong> Sharpen your social entrepreneurial skills</p>
            </div>
            <div class="span4">
                <a href="http://www.unreasonableinstitute.org"><img src="static/images/Unreasonable.png"></a>
                <p><strong>Unreasonable Institute</strong> International startup accelerator for unreasonable ideas</p>
            </div>
        </div>

        <div id="donate" class="sect-head span12">
            <i class="icon-gift"></i> Donate
        </div>
        <div class="resources">
             <div class="span6">
                <a href="http://www.charitywater.org"><img src="static/images/Charity Water.png"></a>
                <p><strong>Charity Water</strong> Provide clean drinking water to impoverished areas</p>
            </div>
            <div class="span6">
                <a href="http://http://www.wateraid.org/"><img src="static/images/Purpose.png"></a>
                <p><strong>WaterAid</strong>  Bring water and sanitation systems to the world's poorest countries</p>
            </div>
        </div>
            
        <div id="discover" class="sect-head span12">
                <i class="icon-search"></i> Discover
        </div>
        <div class="resources">
            <div class="span2">
                <a href="http://www.ecofuelafrica.com"><img src="static/images/Eco-fuel Africa.png"></a>
                <p><strong>Ecofuel Africa</strong> Turning farm and municipal waste into fuel and fertilizer</p>
            </div>
            <div class="span2">
                <a href="http://www.livelyhoods.org"><img src="static/images/LivelyHoods.png"></a>
                <p><strong>Livelyhoods</strong> Creating jobs to enable marginalized youth to work their way out of poverty</p>
            </div>
            <div class="span2">
                <a href="http://www.nukoko.org"><img src="static/images/Nukoko.png"></a>
                <p><strong>Nukoko</strong> Creating effective learning environments and increasing access to primary education</p>
            </div>
            <div class="span2">
                <a href="http://www.oneacrefund.org"><img src="static/images/One Acre Fund.png"></a>
                <p><strong>One Acre Fund</strong> Providing training and resources to increase poor farmers' crop yields</p>
            </div>
            <div class="span2">
                <a href="http://www.resolvenetwork.org"><img src="static/images/Resolve Network.png"></a>
                <p><strong>Resolve</strong> Rebuilding communities through microfinance and community programs</p>
            </div>
        </div>
            
        <div id="connect" class="sect-head span12">
                <i class="icon-retweet"></i> Connect
        </div>
        <div class="resources">
            <div class="span4">
                <a href="http://www.meetup.com"><img src="static/images/Meetup.png"></a>
                <p><strong>Meetup</strong> Organize a meet up in your area</p>
            </div>
            <div class="span4">
                <a href="http://www.facebook.com/projectfreeworld"><img src="static/images/Facebook.png"></a>
                <p><strong>Facebook</strong> Connect with others on our Facebook page</p>
            </div>
            <div class="span4">
                <a href="http://plus.google.com/107700425423233012898"><img src="static/images/Google+.png"></a>
                <p><strong>Google+</strong> Connect with others on our Google+ page</p>
            </div>
        </div>
    </div>        
</div>  
</div>


{% endblock %}

{% block extra_js %}
{% endblock %}