{% extends "base.html" %}

{% block content %}
<div id="sub-header">
    <div id="page-desc">Find solutions to stop global problems</div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <ul class="thumbnails">
            <li class="span4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="">
                    <h3>Donate</h3>
                    <p>Give money</p>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="">
                    <h3>Microfinance</h3>
                    <p>Crowdsourcing and microlending</p>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="">
                    <h3>Volunteer</h3>
                    <p>Volunteer or find volunteers to help your organization</p>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="">
                    <h3>Skills</h3>
                    <p>Teach or learn skills to help change the lives of others</p>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="">
                    <h3>Discover</h3>
                    <p>find great organizations helping to change the world</p>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="">
                    <h3>Connect</h3>
                    <p>discuss and meetup</p>
                </div>
            </li>
        </ul>
    </div> 
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}