{% extends "base.html" %}

{% block content %}
<div id="sub-header">
    
</div>
<div class="wrapper act-top">
    <div class="container ">
    <h1>Find solutions to stop global problems</h1>
    <p>Collectively, humanity has no limits on time, money, or resources. 
    We've created these problems together. There's no reason why we can't solve them together.
    These are the most innovative crowdsolving tools on the planet, all in one place. Make your impact.</p>
    


    <div class="badge skills">
        <div class="banner">Skills</div>
        <i class="icon-tasks"></i>
    </div>
    <div class="badge crowdfunding">
        <div class="banner">Crowdfunding</div>
        <i class="icon-group"></i>
    </div>
    <div class="badge volunteer">
        <div class="banner">Volunteer</div>
        <i class="icon-heart"></i>
    </div>
    <div class="badge scale">
        <div class="banner">Scale Ideas</div>
        <i class="icon-globe"></i>
    </div>
    <div class="badge grass">
        <div class="banner">Grassroots</div>
        <i class="icon-bullhorn"></i>
    </div>
    <div class="badge donate">
        <div class="banner">Donate</div>
        <i class="icon-gift"></i>
    </div>
    <div class="badge discover">
        <div class="banner">Discover</div>
        <i class="icon-search"></i>
    </div>
    <div class="badge connect">
        <div class="banner">Connect</div>
        <i class="icon-retweet"></i>
    </div>
</div>
</div>
<div class="wrapper act-bottom">
<div class="container">
   <table class="table table-bordered">
        <tbody>
            <tr class="sect-head">
                <td>Skills</td>
            </tr>
            <tr class="resources">
                <td>
                    <p><img src="static/images/Skillshare.png"><a href="http://www.skillshare.com">Skillshare</a> Learn or teach any skill from anywhere</p>
                    <p><img src="static/images/Open Source Ecology.png"><a href="http://www.opensourceecology.org">Open Source Ecology</a> Learn how to build the fifty basic tools to start a civilization from scratch with modern comforts</p>
                    <p><img src="static/images/Tumbleweed Houses.png"><a href="http://www.tumbleweedhouses.com">Tumbleweed Houses</a> Learn how to build a simple shelter</p>
                    <p><img src="static/images/Windowfarms.png"><a href="http://www.windowfarms.org">Windowfarms</a> Learn how to grow food hydroponically in an urban setting</p>
                </td>
            </tr>
            <tr class="sect-head">
                <td>Crowdfunding & Microloans</td>
            </tr>
            <tr class="resources">
                <td>
                    <p><a href="http://www.kiva.org">Kiva</a> Provide microloans to individuals in impoverished areas</p>
                    <p><a href="http://www.kiva.org">Indiegogo</a>Crowdfund your projects or causes</p>
                    <p><a href="http://www.kickstarter.com">Kickstarter</a>Fund creative projects</p>
                </td>
            </tr>
            <tr class="sect-head">
                <td>Volunteer</td>
            </tr>
            <tr class="resources">
                <td>
                    <p><a href="http://www.catchafire.org">Catchafire</a> Volunteer or recruit volunteers </p>
                    <p><a href="http://http://www.greenpeace.org/">Greenpeace</a> Take direct action to protect the environment </p>
                </td>
            </tr>
            <tr class="sect-head">
                <td>Grassroots</td>
            </tr>
            <tr class="resources">
                <td>
                    <p><a href="http://www.dosomething.org">Do Something</a> Take inspired action</p>
                    <p><a href="http://www.purpose.com">Purpose</a> Create a 21st century movement</p>
                </td>
            </tr>
            <tr class="sect-head">
                <td>Scale Ideas</td>
            </tr>
            <tr class="resources">
                <td>
                    <p><a href="http://www.echoinggreen.org">Echoing Green</a> Get seed funding for your social entrepreneurial idea</p>
                    <p><a href="http://www.thesojo.net">The Social Journal</a> Sharpen your social entrepreneurial skills</p>
                    <p><a href="http://www.unreasonableinstitute.org">Unreasonable Institute</a> International startup accelerator for unreasonable ideas</p>
                </td>
            </tr>
            </tr>
            <tr class="sect-head">
                <td>Donate</td>
            </tr>
            <tr class="resources">
                <td>
                    <p><a href="http://www.charitywater.org">Charity Water</a> Provide clean drinking water to impoverished areas</p>
                    <p><a href="http://www.wateraid.org">WaterAid</a> Bring water and sanitation systems to the world's poorest countries</p>
                </td>
            </tr>
             <tr class="sect-head">
                <td>Discover</td>
            </tr>
            <tr class="resources">
                <td>
                    <p><a href="http://www.ecofuelafrica.com">Ecofuel Africa</a> Turning farm and municipal waste into fuel and fertilizer</p>
                    <p><a href="http://www.livelyhoods.org">Livelyhoods</a> Creating jobs to enable marginalized youth to work their way out of poverty</p>
                    <p><a href="http://www.nukoko.org ">Nukoko</a> Creating effective learning environments and increasing access to primary education</p>
                    <p><a href="http://www.oneacrefund.org ">One Acre Fund</a> Providing training and resources to increase poor farmers' crop yields</p>
                    <p><a href="http://www.resolvenetwork.org">Resolve</a> Rebuilding communities through microfinance and community programs</p>
                </td>
            </tr>
             <tr class="sect-head">
                <td>Connect</td>
            </tr>
            <tr class="resources">
                <td>
                    <p><a href="http://www.meetup.com">Meetup</a> Organize a meet up in your area</p>
                    <p><a href="http://www.facebook.com/projectfreeworld">Facebook </a> Connect with others on our Facebook page</p>
                    <p><a href="http://plus.google.com/107700425423233012898">Google+ </a> Connect with others on our Google+ page</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>  


{% endblock %}

{% block extra_js %}
{% endblock %}