
{% block content %}
<html>
  <head>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyACXI_zo8cNzYTd0hTLAnlDaHSGlSniFzo&sensor=true"></script>
    <script type='text/javascript' src='/static/javascript/jquery-1.8.0.min.js'></script>
    <script type='text/javascript' src='/static/javascript/underscore-min.js'></script>
    <script type='text/javascript' src='/static/javascript/backbone-min.js'></script>
    <script type='text/javascript' src='/static/app/geomap.js'></script>
  </head>
  <body>
    <div id="map_canvas" style="width: 900px; height: 500px;"></div>
  </body>
</html>

{% endblock %}
