
{% block content %}
<html>
  <head>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript' src='/static/javascript/jquery-1.8.0.min.js'></script>
    <script type='text/javascript' src='/static/javascript/underscore-min.js'></script>
    <script type='text/javascript' src='/static/javascript/backbone-min.js'></script>
    <script type='text/javascript' src='/static/app/geomap.js'></script>
  </head>
  <body>
    <div id="map_canvas" style="width: 900px; height: 500px;"></div>
  </body>
</html>

{% endblock %}
