{% extends "base.html" %}

{% block content %}
<div id="sub-header">
    <div id="page-desc">Explore the index scores across countries to find areas in most need</div>
	{# <ul>
	        	<li>
                    <div class="action-title">Connect</div>
                    <div class="action-desc">Find and connect with others to start discussions organize meetups</div>
                </li>
	        	<li>
                    <div class="action-title">Volunteer</div>
                    <div class="action-desc">Find volunteers to help your organization</div>
                </li>
                <li>
                    <div class="action-title">Raise Money</div>
                    <div class="action-desc">Donate, raise money, or find out about micro-loans</div>
                </li>
                <li>
                    <div class="action-title">Skills</div>
                    <div class="action-desc">Teach or learn skills to help change the lives of others</div>
                </li>
	        	
	        </ul> #}
	<div class="btn-toolbar">
		<div class="btn-group">
			<a class="btn selected" href="#">Poverty</a>
			<a class="btn" href="#">Economic Equality</a>
            <a class="btn" href="#">Infrastructure</a>
			<a class="btn" href="#">Human Rights</a>
			<a class="btn" href="#">Government</a>
            <a class="btn" href="#">Literacy Rate</a>
		</div>
	</div>
    {# <div id="btn-desc">... info for category context ...</div> #}
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 map">
            <div id="map_canvas"></div>
            {#<div id="chart_div"></div> #}
        </div>
    </div>
</div>

<div id="welcomeModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Welcome to Project Free World</h3>
    </div>
    <div class="modal-body">
        <p>This is a description of the site.</p>
    </div>
    <div class="modal-footer">
        
    </div>
</div>

<a href="#" id="act-now-footer">Act Now!</a>

{% endblock %}
{% block extra_js %}
<script src="static/javascript/charts/FWmap1.js"></script>
<script>
	$('#welcomeModal').modal('show');
</script>
{% endblock %}
