{% extends "base.html" %}

{% block content %}
<div id="sub-header">
    <div id="page-desc">View the world's largest challenges:</div>
	
	<div class="btn-toolbar">
		<div class="btn-group">
			<a id="poverty_button" class="btn selected" href="#">Poverty</a>
			<a id="economic_button" class="btn" href="#">Economic Inequality</a>
            <a id="infrastructure_button" class="btn" href="#">Infrastructure</a>
			<a id="human_rights_button" class="btn" href="#">Human Rights</a>
			<a id="government_button" class="btn" href="#">Government</a>
            <a id="literacy_button" class="btn" href="#">Literacy Rate</a>
		</div>
	</div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2 sidebar">
            <ul> 
                <li>Trouble Spot 1</li>
                <li>Trouble Spot 2</li>
                <li>Trouble Spot 3</li>
                <li>Trouble Spot 4</li>
                <li>Trouble Spot 5</li>
                <li>Trouble Spot 6</li>
            </ul>
        </div>
        <div class="span10 map">
            <div id="map_canvas"></div>
        </div>
    </div>
</div>

<div id="welcomeModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <div id="logo"> 
	      <div id="logo-title">project <strong>FREE</strong> world</div>
	      <div id="logo-tagline">Food. Rights. Education. Environment</div>  
	    </div>
    </div>
    <div class="modal-body">
        <p>Crowd solving global issues.</p>
    </div>
    <div class="modal-footer">
        foooter
    </div>
</div>

<div id="act-now-footer">You can help make a change<a class="btn" href="/act">Act Now!</a></div>

{% endblock %}
{% block extra_js %}
<script>
	$('#welcomeModal').modal('show');
</script>
{% endblock %}
