{% extends "base.html" %}

{% block content %}
<div id="sub-header">
	<div class="btn-toolbar">
		<div class="btn-group">
			<a class="btn" href="#">Poverty</a>
			<a class="btn" href="#">Food</a>
			<a class="btn" href="#">Education</a>
			<a class="btn" href="#">Human Rights</a>
			<a class="btn" href="#">Environment</a>
		</div>
	</div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2 sidebar">
	        <ul>
	        	<li>Listing 1</li>
	        	<li>Listing 2</li>
	        	<li>Listing 3</li>
	        	<li>Listing 4</li>
	        	<li>Listing 5</li>
	        	<li>Listing 1</li>
	        	<li>Listing 2</li>
	        	<li>Listing 3</li>
	        	<li>Listing 4</li>
	        	<li>Listing 5</li>
	        	<li>Listing 1</li>
	        	<li>Listing 2</li>
	        	<li>Listing 3</li>
	        	<li>Listing 4</li>
	        	<li>Listing 5</li>
	        </ul>
        </div>
        <div class="span10 map">
            <div id="map_canvas"></div>
        </div>
    </div>
</div>

<div id="welcomeModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Welcome to Project Free World</h3>
    </div>
    <div class="modal-body">
        <p>This is a description of the site.</p>
    </div>
    <div class="modal-footer">
        
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
	$('#welcomeModal').modal('show');
</script>
{% endblock %}